@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    width: 400px; /* max: 1000px */
    height: 600px; /* max: 750px */
    overflow: hidden;
}
main
{
    width: 400px; /* max: 1000px */
    height: 600px; /* max: 750px */
    overflow: hidden;
}

.show-res-cont{
    overflow-y: hidden;
    height: 72%;

}
.show-res{
    overflow-y: auto;
    height: 100%;
}